<%- include('partials/header') %>

    <body class="bg-[#dadada]"></body>

    <h2 class="ml-5 mt-5 font-semibold mb-5">Create a new post</h2>
    <form action="/addpost" method="post" enctype="multipart/form-data"
        class="flex flex-col justify-center items-center gap-2">
        <input type="file" class="md:w-[50%] w-[80%]" name="postImage" />
        <input type="text" placeholder="Enter your Title..."
            class="md:w-[50%] w-[80%] py-2 rounded shadow-lg text-center hover:shadow-none border-2 border-yellow-600"
            name="posttitle" />
        <textarea placeholder="Enter your description..."
            class="md:w-[50%] w-[80%] rounded shadow-lg text-center hover:shadow-none border-2 border-yellow-600"
            rows="5" name="description"></textarea>
        <input type="submit" value="Create Post"
            class="md:w-[50%] w-[80%] py-2 bg-yellow-600 rounded text-white shadow-lg hover:shadow-none hover:bg-yellow-800 cursor-pointer" />
    </form>

    </body>

    </html>