<%- include('partials/header') %>

    <% chats.forEach(function(elem){ %>
        <div class="flex">
            <p class="px-3 text-white bg-yellow-600 m-2" style="border-radius: 0px 50px 50px 50px;">
                <%= elem.chat %>
            </p>
        </div>





        <% }); %>

            <form action="/chat" method="post" class="flex justify-center items-center gap-2 bottom-5 fixed w-[100%]">
                <input type="text" placeholder="Enter your Message..."
                    class="w-[70%] py-2 rounded shadow-lg text-center hover:shadow-none border-2 border-yellow-600"
                    name="chat" />
                <input type="submit" value="Send Msg"
                    class=" w-[20%] py-2 bg-yellow-600 rounded text-white shadow-lg hover:shadow-none hover:bg-yellow-800 cursor-pointer" />
            </form>