<%- include('partials/header') %>
    <p class="flex items-center justify-center">Anonymous Chat Group</p>
    <div class="md:mt-10">
        <% chats.forEach(function(elem){ %>
            <div class="flex">
                <p class="px-3 shadow-lg bg-white m-2" style="border-radius: 0px 50px 50px 50px;">
                    <%= elem.chat %>
                        <span class="ml-5 text-yellow-800" style="font-size: 10px;">
                            <%= elem.createdAt%>
                        </span>
                </p>
            </div>
            <% }); %>
    </div>
    <form action="/chat" method="post"
        class="flex justify-center items-center gap-2 bottom-20 md:bottom-5 fixed w-[100%]">
        <input type="text" placeholder="Enter your Message..."
            class="w-[70%] py-2 rounded shadow-lg text-center hover:shadow-none border-2 border-yellow-600"
            name="chat" />
        <input type="submit" value="Send Msg"
            class=" w-[20%] py-2 bg-yellow-600 rounded text-white shadow-lg hover:shadow-none hover:bg-yellow-800 cursor-pointer" />
    </form>