<%- include('partials/header') %>

    <body class="bg-[#dadada]">
        <h1 class="flex items-center justify-center m-5">Discover all posts in <span
                class="text-yellow-800 font-bold ml-3">NAUTIFY</span></h1>
        <div
            class="container mx-auto flex flex-wrap gap-5 w-[100%] md:flex-row flex-col justify-center md:justify-evenly">
            <% posts.forEach(function(elem){ %>
                <!-- component -->

                <div class="flex justify-center items-center flex-wrap mt-3 mb-3 gap-2">

                    <!-- Card -->
                    <div class="col-span-3 bg-[#fff] border-yellow-600 w-[100%] md:w-auto text-center h-auto">


                        <!-- City Name -->
                        <p class="text-xl font-bold px-3">
                            <%= elem.posttitle %>
                        </p>

                        <!-- Distance -->
                        <p class="text-sm font-light px-3 text-center pb-2">
                            <%= elem.description %>
                        </p>


                        <!-- Image -->
                        <img src="/images/uploads/<%= elem.postimage %>" class="object-fit max-h-52 w-full" />

                    </div>
                </div>
                <% }); %>
        </div>





    </body>

    </html>